.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.headingEnglish {
  font-size: 1.2rem;
  margin-left: 1rem;
  opacity: 0.7;
}

.headingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  color: #2c4172;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .headingWrapper {
    margin-bottom: 1.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .headingEnglish {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
